<div class="container-fluid" style="font-family: gensen;">
    <div class="row min-vh-100">
        <div class="col-4">
            <google-map height="100%" width="100%" mapId="fcc36b61505ecdf9" [zoom]="zoom" [center]="center">
                @for (marker of markers; track marker) {
                <map-advanced-marker [position]="marker.position" [title]="marker.title"
                    (mapClick)="getSelectedMarkerInfos(marker)" />
                }
            </google-map>
        </div>
        <div class="col-5">
            <div style="height: 508px;">
                <form class="row">
                    <div class="col-md-6" >
                      <label class="form-label mt-2">活動日期</label>
                      <select (change)="getSelectedMarkerInfo($event)" class="form-select">
                        <option *ngFor="let item of selectedMarkerInfoDateTimes" [value]="item">{{item}}</option>
                    </select>
                    </div>
                    <div class="col-md-6">
                      <label class="form-label mt-2">使用車型</label>
                      <input type="text" class="form-control" [value]="selectedMarkerInfo.model">
                    </div>
                    <div class="col-12" >
                      <label class="form-label mt-2">備註</label>
                      <textarea class="form-control" rows="15" style="height: 90%;" [value]="selectedMarkerInfo.remark"></textarea>
                    </div>
                  </form>
            </div>
            
            <iframe class="subtract-garmin-height col-12"
            [src]="bypassSecurityTrustResourceUrl(selectedMarkerInfo.youTubeLink)" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        </div>
        <div class="col-3">
            <iframe width='465' height='500' frameborder='0' [src]="bypassSecurityTrustResourceUrl(selectedMarkerInfo.garminLink)"></iframe>

            <iframe class="subtract-garmin-height" width='465' frameborder='0'
                src="https://embed.windy.com/embed2.html?lat=25.050&lon=121.532&detailLat=25.050&detailLon=121.532&width=650&height=450&zoom=5&level=surface&overlay=wind&product=ecmwf&menu=&message=true&marker=&calendar=now&pressure=&type=map&location=coordinates&detail=&metricWind=default&metricTemp=default&radarRange=-1"></iframe>
        </div>
    </div>
</div>