.margin {
    margin: 0px;
}

.iframeLayout {
    display: flex;
}

.videoLayout {
    width: calc(100% - 465px);
}

.infoWindowLayout {
    width: 75vw;
    max-width: 1350px;
}

.garminLayout {
    display: block;
}

@media only screen and (max-width: 766px) {
    .infoWindowLayout {
        width: 100%;
    }

    .videoLayout {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
    }

    .videoLayout iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .garminLayout {
        display: none;
    }
}

@media only screen and (max-width: 1400px) and (min-width: 768px) {
    .iframeLayout {
        display: block;
    }

    .videoLayout {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
    }

    .videoLayout iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .garminLayout {
        display: none;
    }
}
