<iframe #yourIframe src='https://connect.garmin.com/modern/activity/embed/13923922686' title='新竹縣尖石鄉薰衣草林道(B)' width='465' height='500' frameborder='0'></iframe>

<iframe width="560" height="315" src="https://www.youtube.com/embed/WcbfxLPFVz8?si=TLNeQ8RFZyZa1ok2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<iframe width="650" height="450" src="https://embed.windy.com/embed2.html?lat=25.050&lon=121.532&detailLat=25.050&detailLon=121.532&width=650&height=450&zoom=5&level=surface&overlay=wind&product=ecmwf&menu=&message=true&marker=&calendar=now&pressure=&type=map&location=coordinates&detail=&metricWind=default&metricTemp=default&radarRange=-1" frameborder="0"></iframe>

<button (click)="aa()"></button>